<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style>
	ol li{
  list-style-type: none!important;
}
body{
   background-color:#f0f0f0;  
  }
</style>
<div align="center">

<ol class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Öğrenci No:</div>
      {{ last_row }}
      <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Öğrenci Adı:</div>
      {{ ogrenci_adi }}
      <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Dönem harcı:</div>
      {{ harc_kontrol}}
      <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Dif. Denklemler:</div>
      {{ dif_kontrol }}

      <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Giriş Saati:</div>
      {{ son_giris }}


    


    </div>
</li></ol>










 </div>
      
   </body>
</html>